django>=5.0,<6.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
dj-database-url
psycopg2-binary
python-dotenv
celery
redis
django-celery-beat
scikit-learn

joblib
numpy
pandas
groq
requests
whitenoise
